.filter {
    width: 13.5rem;
    padding: 2.25rem;
    height: 41rem;
    left: 0;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 0.625rem;
  }

  h4{
    font-size: 1.3rem;
  }

  h5{
    font-size: 0.9rem;
  }

  hr.dashed {
    border-top: 0.2rem dashed #bbb !important;
  }
  
/* Estilo para el thumb del slider */
input[type=range]::-webkit-slider-thumb {
    background: #87A49B !important;
    border: 1px solid #000;
  }
  
  input[type=range]::-moz-range-thumb {
    background: #87A49B !important;
    border: 1px solid #000;
  }
  
  /* Estilo para el track del slider */
  input[type=range]::-webkit-slider-runnable-track {
    background: #DCDFDE;
  }
  
  input[type=range]::-moz-range-track {
    background: #DCDFDE;
  }
  
  /* Estilo para el checkbox */
  input[type=checkbox]:checked {
    background-color: #87A49B !important;
    border-color: #000 !important;
  }
