/* Estilos Predeterminados */

header {
    z-index: 100000;
}

#header_components {
    display: flex;
    align-items: center;
    width: 100%;
}

.recuadroLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5rem;
}

.recuadroLogo img {
    width: 13.56rem;/* Para pasar de pixeles a rem dividimos por 16 (como valores por defecto) */
    height: 3.44rem;
    object-fit: cover;
}

.recuadroLogo p {
    font-size: 24px;
    color: #000000;
    margin: 0;
}

#header_subOptions {
    display: flex; /* Utilizamos flexbox para ordenar las imágenes */
    gap: 1.75rem; /* Agregamos un espacio de 10px entre las imágenes */
    position: absolute;
    right: 5rem;
    width: 6.75rem; /* 2.5rem + 2.5rem + 1.75rem, esdecir los dos circulos y la separacion*/
}

/*
Creamos el circulo que contendrá el icono de la opción de lenguaje y de usuario
 */
.circle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #86CFB5;
}

.circle_icon > img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.circle_icon:hover {
    /* Creamos la animación de escalado cuando pasamos el ratón por encima de la imagen,
    para ello utilizamos la propiedad transform que nos permite modificar la escala de la imagen
    y la propiedad transition que nos permite definir la duración de la animación y
    el tipo de transición con los easing.
    */

    transform: scale(1.1);
    transition: transform 0.015s ease-in-out;
}

/* Css de la barra de navegación */

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-right: 13.5rem; /* 5rem + 6.75rem + 1.75rem, es decir los dos circulos y la separacion + el right (5rem) + otra separacion*/
    right: 0;
    left: default;
    /* alienar a la derecha */
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.3rem; /* Agregar un espacio de 10px entre los elementos */
}

nav ul li {
    transition: transform 0.1s ease-in; /* Para que la transición sea más suave */
}

nav ul li a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li:hover {
    /* Propiedad para aumentar el tamaño del texto al pasar el ratón por encima */
    transform: scale(1.1);
}

/* CSS para los menús desplegables */
.circle_icon .dropdown_content {
    background-color: #d9e8e3;
    border-radius: 15px 15px 15px 15px;
    display: none;
    position: absolute;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 2.5rem;
    left: 0;
    transform: translateX(-72%); /* Agrega esto para posicionar el menú en la esquina izquierda */
    font-size: 0.9rem;
}

.circle_icon .dropdown_content a:not(:last-child) {
    /* Añade las líneas separadoras */
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.circle_icon .dropdown_content a {
    color: black;
    height: 2.25rem;
    padding: 0.8rem 1.25rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_icon:hover .dropdown_content {
    display: block;
    left: 0; /* Agrega esta propiedad para posicionar el menú en la esquina izquierda */
    right: auto; /* Anula la propiedad right para que no afecte la posición */
}

/* Diseño Responsive:
    ->Small devices (landscape phones, 576px and up)
    ->Medium devices (tablets, 768px and up)
    ->Large devices (desktops, 992px and up)
    ->X-Large devices (large desktops, 1200px and up)
    ->XX-Large devices (larger desktops, 1400px and up)
 */

/*
Diseños para el menu desplegable de la barra de navegación cuando se aplique el diseño responsive
 */

#menu_deplegable {
    position: absolute;
    left: 5%;
    align-items: center;
    display: none;
}

#menu_toggle {
    pointer-events: none; /* deshabilitar la interacción con el checkbox */
    opacity: 0;
}

/* situar el label justo encima de check box */
#menu_toggle + label {
    display: flex;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 2.75rem;
    align-items: center;
    color: white;
}

#menu_toggle_label {
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

#close_menu_toggle {
    pointer-events: none;
    opacity: 0;
}

#close_menu_toggle_label {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    top: 0;
    right: 0.6rem;
    color: white;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

#idiom_menu_responsive {
    display: none;
}
/* Medium devices */

@media (max-width: 910px) { /* poner min-width para probar como se va viendo sin tener que redimensionar la pantalla */

    .side-nav ul {
        flex-direction: column; /* Cambia la orientación a vertical */
        gap: 0; /* Elimina el espacio entre elementos */
    }

    .side-nav ul li a {
        padding: 0.8rem 1.6rem; /* Agrega padding para mejorar la apariencia */
        color: #f1f1f1; /* Cambia el color del texto */
    }

    .recuadroLogo {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 0;
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%; /* a -100 */
        width: 15rem;
        height: 100%;
        background-color: #333;
        transition: 0.3s;
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    }

    nav ul {
        margin-top: 5rem;
        flex-direction: column; /* Cambia la orientación a vertical */
        gap: 1.5rem; /* Elimina el espacio entre elementos */
    }

    nav ul li a {
        padding: 0.8rem 1.6rem; /* Agrega padding para mejorar la apariencia */
        color: #f1f1f1; /* Cambia el color del texto */
    }

    #menu_deplegable {
        display: flex;
    }

    #header_subOptions{
        right: 0.75rem;
        gap: 0.75rem;
        width: 5.5rem; /* 2.5rem + 2.5rem + 1rem, esdecir los dos circulos y la separacion*/
    }

    #close_menu_toggle_label {
        display: block;
    }

}

/* 440 o menos de esto quitar el icono de idioma y situarlo en el desplegable */
@media (max-width: 480px) {

    #idiom_menu_responsive {
        display: flex;
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        color: white;
        font-size: 1.60rem;
    }

    #idiom_menu_normal{
        display: none;
    }

    #header_subOptions{
        width: 2.5rem; /* 2.5rem + 2.5rem + 1rem, esdecir los dos circulos y la separacion*/
    }

    #menu_deplegable{
        left: 0rem;
    }

}

/* 440 o menos de esto quitar el icono de idioma y situarlo en el desplegable */
@media (max-width: 330px) {

    :root{
        --scale_value: 0.85;
    }

    #menu_deplegable{
        transform: scale(var(--scale_value));
        left: -1.05rem;
    }

    .recuadroLogo{
        transform: scale(var(--scale_value));
    }

    #header_subOptions{
        transform: scale(var(--scale_value));
        right: 0.05rem;
    }

}